@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 12px 0;
    }


    header .logo img
    {
        height: 26px;
    }


    header .anchors
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        padding-right: 48px;
    }


    .block_head .title
    {
        padding: 16px 0;

        text-align: left;
    }

    .block_head .title:after
    {
        width: 48px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .slogan
    {
        font-size: 13px;
    }


    .first_section .title
    {
        font-size: 17px;
    }


    .first_section .bg
    {
        right: -24px;

        margin-right: 0;
    }


    .first_section .img
    {
        top: 100px;
        left: -60px;

        width: 520px;
    }


    .first_section .exp
    {
        bottom: -88px;
        left: 0;

        margin-left: 0;
    }


    .first_section .logo
    {
        top: auto;
        right: 0;
        bottom: -68px;
    }

    .first_section .logo img
    {
        width: 112px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog
    {
        margin-bottom: 80px;
        padding: 80px 0;
    }

    .catalog:after
    {
        bottom: -35px;

        width: 120px;
        height: 120px;
    }


    .catalog .row
    {
        margin-bottom: -60px;
        margin-left: 0;

        --catalog_count: 1;
    }

    .catalog .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 60px;
        margin-left: 0;
    }


    .catalog .bg
    {
        height: auto;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        width: 100%;
    }


    .contacts_info .data .title,
    .contacts_info .data .logo
    {
        margin-bottom: 24px;
    }


    .contacts_info .department
    {
        margin-top: 40px;
        margin-left: 0;
    }


    .contacts_info .socials
    {
        width: 100%;
    }


    .contacts_info .map
    {
        width: 100%;
        height: 320px;
        margin-top: 40px;
    }



    /*-------------------------
        Catalog spare parts
    -------------------------*/
    .catalog_spare_parts .col
    {
        width: 100%;
    }

    .catalog_spare_parts .col + .col
    {
        margin-top: 32px;
    }


    .catalog_spare_parts .titles
    {
        padding-right: 8px;
        padding-left: 8px;
    }

    .catalog_spare_parts .col:last-child .titles:after
    {
        display: none;
    }


    .catalog_spare_parts .product
    {
        padding-right: 8px;
        padding-left: 8px;
    }


    .catalog_spare_parts .col_thumb
    {
        width: 112px;
        min-width: 112px;
    }


    .catalog_spare_parts .product .number
    {
        left: 8px;
    }



    /*----------------------
        Catalog services
    ----------------------*/
    .catalog_services .name
    {
        font-size: 17px;

        width: calc(100% - 28px);
        padding: 12px 24px;
    }


    .catalog_services .item + .item
    {
        margin-top: 40px;
    }


    .catalog_services .item .desc
    {
        font-size: 17px;
    }

    .catalog_services .item .row .desc
    {
        width: 100%;
        margin-bottom: 16px;
    }


    .catalog_services .item .row .image
    {
        width: 100%;

        order: 2;
    }
}
